<div class="search-container">
  <h1>Search Countries</h1>
  <input
    type="text"
    [(ngModel)]="searchTerm"
    (input)="onSearchTermChange()"
    placeholder="Search for a country"
    class="search-box"
  />
  <ul *ngIf="searchTerm && filteredCountries.length" class="results-list">
    <li
      *ngFor="let country of filteredCountries"
      (click)="selectCountry(country)"
      class="result-item"
    >
      {{ country }}
    </li>
  </ul>
  
  <p *ngIf="searchTerm && !filteredCountries.length && !selectedCountry" class="no-results">
    No countries found.
  </p>
</div>
